@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/abstracts/mixins' as *;

.button {
    font-size: 1.3rem;
    font-weight: 500;
    color: $white;
    padding: .75rem 2rem;
    background-color: $primary-dark;
    border: none;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        background-color: darken($primary, 15%);
    }

    @include status-modifiers using ($color) {
        background-color: $color;

        &:hover {
            background-color: darken($color, 15%);
        }
    }

    &:disabled {
        background-color: $primary;
        cursor: not-allowed;
    }

    &--link {
        font-size: 1.5rem;
        font-weight: initial;
        color: $primary;
        padding: 0;
        background-color: transparent;

        &:hover,
        &:active {
            color: $primary-dark;
            background-color: transparent;
        }
    }
}