@use 'variables' as *;

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Box shadow
@mixin box-shadow($type) {
    @if $type == 'light' {
        box-shadow: 0 .6rem 1.2rem rgba($black, .15);
    }
    @if $type == 'medium' {
        box-shadow: 0 .9rem 1.5rem rgba($black, .25);
    }
    @if $type == 'heavy' {
        box-shadow: 0 1.1rem 1.7rem rgba($black, .40);
    }
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
  
    @if $raw-query {
      $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
      );
  
      @media only screen and #{$query} {
        @content;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
           + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }