// COLORS
$primary: #A6B1E1;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
$secondary: #424874;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);
$tertiary: #DCD6F7;
$tertiary-light: lighten($tertiary, 10%);
$tertiary-dark: darken($tertiary, 10%);

$overlay: #F4EEFF;

$status: (
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    info: #17a2b8,
);

$black: #000;
$white: #fff;
$disabled: #999;

// FONT
$default-font-size: 1.6rem;

// BOX-SHADOWS
$box-shadows: (
    light: 0 .6rem 1.2rem rgba($black, .15),
    medium: 0 .9rem 1.5rem rgba($black, .25),
    heavy: 0 1.1rem 1.7rem rgba($black, .40)
);

// Z-INDEXES
$z-indexes: (
    dropdown: 1000,
    toast: 1100
);

// GRID
$container-max-widths: (
    sm: 100%, // <= 600px
    md: 540px, // <= 900px
    lg: 840px, // <= 1200px
    hg: 1600px, // >= 1800px
);
$gutter-vertical: (
    small: 2rem,
    medium: 4.5rem,
    large: 8rem
);
$gutter-horizontal: (
    small: 1rem,
    medium: 1.8rem,
    large: 2.5rem
);
$column-padding: 0px;

// LAYOUT
$section-gutter-vertical: 2.5rem;

// BREAKPOINTS
// 1em=16px
$breakpoints: (
    small: (max-width: 37.5em),   // 600px
    medium: (max-width: 56.25em), // 900px
    large: (max-width: 75em),     // 1200px
    huge: (min-width: 112.5em)   // 1800px
);