.d-block {
    display: block !important;
}

.w-100 {
    width: 100% !important;
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center !important;
}