@use 'sass:map';
@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

#toast-container {
    // TODO: Do this sticky for showing toast messages when scrolling very bottom
    position: absolute;
    top: 9rem;
    right: 2rem;
}

.toast {
    position: relative;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.25;
    max-width: 20rem;
    padding: 1.5rem 5rem 1.5rem 2.5rem;
    @include box-shadow(medium);
    z-index: map.get($z-indexes, toast);

    @include status-modifiers using ($color) {
        background-color: $color;
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__button-close {
        background-color: transparent;
        display: block;
        border: none;
        border-radius: 2px;
        padding: 0 .5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #fff;
        cursor: pointer;

        &:focus {
            outline: 1px solid $primary;
        }
    }
}