@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/abstracts/mixins' as *;

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: darken($white, 7%);
    
    overflow: hidden;

    &-header {
        color: $white;
        padding: 1rem;
        background-color: lighten(#000, 15%);
        @include box-shadow(light);

        &__watching {
            display: flex;
            align-items: center;
            font-size: 1.5rem;

            &-icon {
                margin-right: .6rem;
            }
        }
    }

    &-messages {
        flex: 1 1 1px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom: 1px solid #000;
        overflow-y: auto;
    
        &__message {
            font-size: 1.4rem;
            padding: 1rem;
            width: calc(100% - 2rem);

            &:first-child {
                margin-top: auto;
            }

            &:nth-child(even) {
                background-color: darken($white, 11%);
            }

            &--info {
                text-align: center;
            }
        }

        &__user {
            font-weight: 500;
        }

        &__time {
            font-weight: 600;
            font-size: 1rem;
        }
    }

    &-controls {
        justify-self: flex-start;

        &__form {
            display: flex;
            align-items: center;
        }

        &__textarea {
            flex: 1;
            background-color: transparent;
            border: none;
            resize: none;
            font-size: 1.4rem;
            padding: .5rem 1rem;
            border-bottom-left-radius: 10px;
        }

        &__button {
            color: $primary-dark;
            font-size: 2rem;
            background-color: transparent;
            border: none;
            padding: .0 1rem;
            cursor: pointer;
        }
    }
}