@use '../../../sass/abstracts/variables' as *;
@use '../../../sass/abstracts/mixins' as *;

.games-list-item {
    &,
    &:link,
    &:visited {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
        border-radius: 5px;
        // border: 1px solid transparent;
    }

    &:hover,
    &:active {
        background-color: rgba($primary, .35);
        // border-color: $primary;
        @include box-shadow(light);
    }


    &__player-preview {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        font-weight: 500;
        color: $black;
    }
}