@use '../../sass/abstracts/mixins' as *;
@use '../../sass/abstracts/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 2rem;
    height: 7rem;
    background-color: $overlay;
    @include box-shadow('light');

    &__brand {
        font-size: 3rem;
        font-weight: 700;
        text-decoration: none;
        margin-right: 5rem;
    }
}